In [1]:
import pandas as pd

In [2]:
import numpy as np
import statsmodels.api as sm

In [19]:
df = pd.read_csv("for_modelling.csv")
df.sample(10)

,Unnamed: 0,marital_cat,education_cat,default_cat,loan_cat,contact_cat,housing_cat,campaign_cat1,campaign_cat2,poutcome_cat,day_cat,y_bool,age_cat,balance,duration
36437,36437,1,1,1,1,1,0,1,1,1,2,0,0,467,171
16131,16131,1,1,0,0,1,1,0,0,1,2,0,1,0,240
16137,16137,1,1,1,0,1,1,1,1,1,2,0,1,968,470
2473,2473,1,1,1,1,0,0,1,1,1,2,0,0,3960,110
21906,21906,1,1,1,1,1,1,1,1,1,1,0,0,-584,75
38680,38680,1,1,1,1,1,1,1,0,0,2,0,0,341,136
5898,5898,1,1,1,0,0,0,1,1,1,2,0,0,-196,16
37602,37602,1,0,1,1,1,1,1,1,1,2,0,0,2361,91
38794,38794,1,0,1,1,1,0,1,1,1,1,0,0,428,59
39387,39387,1,1,1,1,1,1,1,1,1,2,1,1,265,491

In [20]:
df.drop(columns=['campaign_cat1'],inplace=True)
df.columns

Index(['Unnamed: 0', 'marital_cat', 'education_cat', 'default_cat', 'loan_cat',
       'contact_cat', 'housing_cat', 'campaign_cat2', 'poutcome_cat',
       'day_cat', 'y_bool', 'age_cat', 'balance', 'duration'],
      dtype='object')

In [21]:
# y=mx+b , setting up regression where y is dependent var and x is list of input vars

y = df.y_bool
x_columns = df.columns.tolist()[1:9] + df.columns.tolist()[-3:]
x = df[x_columns]

In [22]:
# executing log regression

log_reg = sm.Logit(y, x).fit()

Optimization terminated successfully.
         Current function value: 0.278343
         Iterations 7

In [23]:
print(log_reg.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                 y_bool   No. Observations:                45211
Model:                          Logit   Df Residuals:                    45200
Method:                           MLE   Df Model:                           10
Date:                Fri, 19 Jan 2024   Pseudo R-squ.:                  0.2287
Time:                        13:00:53   Log-Likelihood:                -12584.
converged:                       True   LL-Null:                       -16315.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
marital_cat      -0.6352      0.044    -14.456      0.000      -0.721      -0.549
education_cat    -0.1671      0.040     -4.156      0.000      -0.246      -0.088
default_cat      -2.5386      0.064    -39.387      0.000      -2.665      -2.412
loan_cat          0.1619      0.046      3.507      0.000       0.071       0.252
contact_cat       0.3887      0.040      9.719      0.000       0.310       0.467
housing_cat       0.9102      0.035     26.174      0.000       0.842       0.978
campaign_cat2     0.0717      0.036      2.006      0.045       0.002       0.142
poutcome_cat     -1.6009      0.035    -45.515      0.000      -1.670      -1.532
age_cat           0.5848      0.037     15.751      0.000       0.512       0.658
balance        2.637e-05   4.53e-06      5.818      0.000    1.75e-05    3.53e-05
duration          0.0037   5.86e-05     63.247      0.000       0.004       0.004
=================================================================================

In [ ]:
# true positive

df[(df_evaluate.Survived_Actual == 1) & (df_evaluate.Survival_Binary == 1)].shape[0]